.rc-comment {
  display: flex;
  margin-bottom: 25px;
}

.rc-comment__avatar {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: contain;
}

.rc-comment__col-right {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 45px);
  align-items: center;
}

.rc-comment__col-right > a {
  text-decoration: none;
}

.rc-comment__name {
  font-size: 18px;
  color: #0088ff;
  margin-right: 10px;
}

.rc-comment__time {
  font-size: 14px;
  color: #a4b8c9;
}

.rc-comment__content {
  font-size: 16px;
  flex: 1 100%;
}

.rc-comment-form__textarea {
  background: #f4f7f9;
  border: none;
  width: 100%;
  resize: none;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
}

.rc-btn {
  display: inline-block;
  padding: 0.85em 1em;
  font-family: inherit;
  border: none;
  border-radius: 0.5em;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: background 0.2s, color 0.2s;
}

.rc-btn--blue {
  background: #0088ff;
  color: #fff;
}
.rc-btn--blue:hover {
  background: #0c79da;
}
